{% extends 'layout.html.twig' %}


{% block title %}
    {{ parent() }} | Merci pour votre reservation
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}



{% block content %}
    <h1 class="my-5 text-center">Réservation reçue</h1>
    <div class="container-fluid pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="card text-center">
                    <div class="card-header">
                        DFJ  |  LOCATION
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Merci</h5>
                        <p class="card-text">Bonjour {{ data.firstname_visitor }} {{ data.lastname_visitor }} , toute l'équipe de DFJ Location vous remercie d'avoir
                            réservé votre vélo chez nous. Nous vous recontacterons à l'adresse "{{ data.email }}" dans les plus brefs
                            délais pour valider votre reservation.</p>
                        <a href="../../Home/index/" class="btn btn-info">Retour</a>
                    </div>
                    <div class="card-footer">
                        A BIENTÔT !
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}