{% extends 'layout.html.twig' %}

{% block content %}
    <div class="contact container-fluid">
        <div class="row pb-5">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h2>Contact</h2>
                        <p>Téléphone: 02 38 81 23 00 </p>
                        <p>95 rue du Faubourg Bannier 45000 ORLEANS</p>
                    </div>
                    <div class="col-12 ">
                        <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.8985506892204287%2C47.91220726474316%2C1.9007930159568789%2C47.9134585186023&amp;layer=mapnik&amp;marker=47.912832811183776%2C1.8996720726136118" style="border: 1px solid black">
                        </iframe>
                        <br/>
                        <small>
                            <a href="https://www.openstreetmap.org/?mlat=47.91283&amp;mlon=1.89967#map=19/47.91283/1.89967">Afficher une carte plus grande</a>
                        </small>
                    </div>
                </div>
            </div>


            <!-- Récupération du jour courant -->
            {% set now = "now"|date("l") %}
            <!-- Récupération des horaires -->
            {% set nowTranscription = {'Monday' : 'Lundi : Fermé', 'Tuesday' : 'Mardi : 9h30 - 12h / 14h - 18h30',
                'Wednesday' : 'Mercredi : 9h30 - 12h / 14h - 18h30', 'Thursday' : 'Jeudi : 9h30 - 12h / 14h - 18h30',
                'Friday' : 'Vendredi : 9h30 - 12h / 14h - 18h30', 'Saturday' : 'Samedi : 9h30 - 12h / 14h - 18h',
                'Sunday' : 'Dimanche : 9h - 10h30 / 17h - 18h30'} %}
            {% set nowFrench = nowTranscription[now] %}
            <div class="dropdown col-12 col-md-6">
                <h2>Horaires</h2>
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ nowFrench }}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <ul>
                        {% for time in nowTranscription %}
                            <li class="dropdown-item-text {% if time == nowFrench %} currentDay {% endif %}">
                                {{ time }}
                            </li>
                        {% endfor %}
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
