{% extends 'layout.html.twig' %}

{% block content %}
        <div class="contact container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>Contact</h2>
                    <p>tel: 02 38 81 23 00 </p>
                    <p>95 rue du faubourg Bannier 45000 ORLEANS</p>
                </div>
            </div>
        </div>

{% endblock %}
