{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>


        <div class="contact">
            <h2>Contact</h2>
            <p>tel: 02 38 81 23 00 </p>
            <p>95 rue du faubourg Bannier 45000 ORLEANS</p>
        </div>

{% endblock %}
