{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Nos vélos{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Nos vélos</h1>

    <div class="container-fluid">
        <div class="row category pb-5">
            {% for category in categories %}
            <div class="col-lg-3 offset-lg-2 col-md-6 col-sm-12">
                <div class="card link mt-3 mb-5">
                    <a class="nav-link" href="/bicycle/category/{{ category.name }}">
                        <span class="card-body">
                            <h4 class="card-title text-center align-middle">{{ category.name }}</h4>
                        </span>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}