@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');


:root {
    --primary-color: #4a80a0;;
    --secondary-color: #f7f7fc;
    --button-bg-color : #8C9DB0;
    --light : #e8ecf0;
    --dark : #151717;
    --title-color: #0d446d;
    --spacing:8px;
    --spacing-2:calc(var(--spacing) * 2);
    --spacing-3:calc(var(--spacing) * 3);
    --spacing-4:calc(var(--spacing) * 4);
    --spacing-form: 500px;
    --navbarHeight: 80px;
    --footerHeight: 160px;
    --font-text: 'Roboto', sans-serif;
    --font-title: 'Righteous', cursive;
    --btn-bg-color: whitesmoke;
    --btn-color : darkred;
    --card-title-color: #f1f1f5;
    --card-background-color : rgba(18, 24, 43, 0.65);
    --card-background-board : rgba(241, 241, 245, 0.65);
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
    background-color: var(--secondary-color);
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    min-height: calc(100vh - var(--navbarHeight) - var(--footerHeight));
    padding-top: var(--navbarHeight);
}

nav {
    background-color: var(--primary-color);
    height: var(--navbarHeight)
}

.navbar {
    padding: 0;
    z-index: 2;
}

section {
    padding-top: var(--navbarHeight);
}

.category .card {
    background-color: var(--primary-color);
}

.category .card-title {
    color: var(--title-color);
    font-family: var(--font-title);
}

.logo {
    height: calc(var(--navbarHeight) - var(--spacing-2));
}

.navbar-brand {
    padding-left: var(--spacing-2);
}

.navbar-toggler {
    padding-right: var(--spacing-2);
    border: none;
}

nav > div > ul > .link {
    background-color: var(--primary-color);
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--light);
}

.link > a {
    font-size : 1.25rem;
    color: var(--light);
    font-family:'Overpass', sans-serif;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--light);
}

h1, h2, h3 {
    font-family: var(--font-title);
    color: var(--title-color);
}

.news h2 {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing);
}

.alert:empty {
    display: none;
}

.contact h2 {
    text-align: center;
    color: var(--title-color);
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing);
}

.contact p {
    text-align: center;
}

.map {
    width: 100%;
    height: 300px;
}

.time {
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
}

.time li {
    text-align: start;
}

.currentDay {
    font-weight: bold;
}

.bikes .card-img-bottom {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
    padding-bottom: var(--spacing-2);
}

.bikes .card {
    margin-bottom: var(--spacing-3);
}

.card-inverse .card-img-overlay {
    background-color: var(--card-background-color)
}

.bikes .card-title {
    color: var(--card-title-color);
}

.bikes .card-title {
    color: var(--light);
    font-size: 1.25rem;
    font-family: var(--font-text);
}

.card-inverse:hover {
    transform: scale(1.02);
}

.card-inverse:hover .card-img-overlay {
    background: none;
}

.card-inverse:hover .card-img-overlay h2 {
    display: none;
}

.aboutUs-images {
    width: 600px;
}

.aboutUs-paragraph {
    width: 600px;
    font-size: 20px;
    padding: 0 var(--spacing-3);
}

footer {
    font-family: 'Overpass', sans-serif;
    background-color: var(--primary-color);
    padding: 0;
    height: 160px;
    color: var(--light);
}

.instagramImage {
    margin-left: var(--spacing-4);
}

.instagramImage, .facebookImage {
    width: calc(var(--spacing) * 5);
}

.copyright {
    font-family:'Overpass', sans-serif;
    margin-bottom: 0;
    color: var(--light);
}

footer,.row {
    margin: 0;
}

footer a {
    font-family:'Overpass', sans-serif;
    text-decoration: none;
    color: var(--light);
}

footer a:hover {
    color: var(--dark);
    text-decoration: none;
}

.admin {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.instagramImage:hover, .facebookImage:hover {
    transform: scale(1.2);
}

.instagramImage:active, .facebookImage:active {
    opacity: 30%;
}

@media screen and (max-width: 500px){
    #carouselExampleCaptions .carousel-inner {
        height: 300px;
    }
}

.carousel-inner .carousel-item{
    height: 850px;
}

table td {
    max-width: 200px;
    text-align: center;
}

table th {
    text-align: center;
}

table {
    margin: auto;
}

table .btn:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
}

.alert:empty {
    display: none;
}

.container a:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--btn-bg-color);
    color: var(--btn-color)
}

.contact-details {
    font-size: 1.75rem;
}

.vertical-line {
    border-left: 2px solid #000;
    display: inline-block;
    height: 600px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.horaire-title {
    margin-bottom: 70px;
}

.bicycle {
    width: 400px;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
}

.board {
    background-color:var(--card-background-board);
}

