:root {
    --primary-color: #8C9DB0;
    --secondary-color: #D2D5DA;
    --spacing: 8px;
    --spacing-2: calc(var(--spacing) * 2);
    --spacing-3: calc(var(--spacing) * 3);
    --spacing-4: calc(var(--spacing) * 4);

    --font-text: 'Roboto', sans-serif;
    --font-title: 'Righteous', cursive;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
}

footer {
    background-color: var(--primary-color);
    height: 160px;
    margin: 0;
    padding: 0;
    color: black;
}

.instagramImage {
    margin-left: var(--spacing-4);
}

.instagramImage, .facebookImage {
    width: calc(var(--spacing) * 5);
}

.copyright {
    margin-bottom: 0;
}

footer,.row {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: black;
}

.instagramImage:hover, .facebookImage:hover {
    transform: scale(1.2);
}

.instagramImage:active, .facebookImage:active {
    opacity: 30%;
}