:root {
    --primary-color: #8C9DB0;
    --secondary-color: #D2D5DA;

    --spacing:8px;
    --spacing-2:calc(var(--spacing) * 2);
    --spacing-3:calc(var(--spacing) * 3);
    --spacing-4:calc(var(--spacing) * 4);

    --font-text: 'Roboto', sans-serif;
    --font-title: 'Righteous', cursive;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
    background-color: var(--secondary-color);
}

.contact  h2{
    text-align: center;
    color: var(--title-color);
}

.contact p {
    text-align: center;

}
.contact {
    display:flex;
    flex-direction: column;

}

.container-map{
    display: flex;
    justify-content: center;
}

.map {

    width: 425px;
    height: 350px;
}


@media screen and (max-width: 600px){
    .contact{
        display:flex;
        flex-wrap: wrap;
    }
    .map{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;

    }

}
