:root {
    --primary-color: #8C9DB0;
    --secondary-color: #D2D5DA;
    --button-bg-color : #d8dce2;
    --light- : #e8ecf0;

    --spacing:8px;
    --spacing-2:calc(var(--spacing) * 2);
    --spacing-3:calc(var(--spacing) * 3);
    --spacing-4:calc(var(--spacing) * 4);
    --spacing-form: 500px;

    --font-text: 'Roboto', sans-serif;
    --font-title: 'Righteous', cursive;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
}
