{% block footer %}

    <footer class="container-fluid row d-flex justify-content-around align-items-center col-lg-12">

        <p class="copyright text-center col-sm-8 col-lg-auto">Copyright © 2020 WCS. Tous droits réservés</p>

        <a class="legalMentions text-center col-sm-6 col-lg-auto" href="#">Mentions légales</a>

        <a class="termOfSales text-center col-sm-6 col-lg-auto" href="#">Conditions générales de vente</a>
        <div class="d-flex justify-content-around col-sm-2 col-2 col-lg-auto">
            <a class="socialLink" href="#">
                <img src="/assets/images/facebook.png" class="facebookImage">
            </a>

            <a class="socialLink" href="#">
                <img class="instagramImage" src="/assets/images/instagram-symbol.png">
            </a>
        </div>

    </footer>


{% endblock %}