{% block footer %}

    <footer>
        <div class="footerContent">

            <div class="textMentions">

                <p>Copyright © 2020 Wcs. Tout droits réservés</p>

                <a class="legalMentions" href="#">Mentions légales</a>

                <a class="termOfSales" href="#">Conditions générales de Vente</a>
            </div>

            <div class="socialIcons">

                <a id="#Facebook" href="#">
                    <img src="/assets/images/facebook.png" class="facebookImage">
                </a>

                <a id="#Instagram" href="#">
                    <img class="instagramImage" src="/assets/images/instagram-symbol.png">
                </a>
            </div>

        </div>

    </footer>


{% endblock %}