{% block footer %}
    <footer class="container-fluid row d-flex justify-content-around align-items-center col-lg-12">
        <p class="copyright text-center col-sm-8 col-lg-auto">Copyright © 2020 WCS. Tous droits réservés</p>
        <a class="text-center col-sm-6 col-lg-auto" href="/home/legalMentions">Mentions légales</a>

        <div class="d-flex justify-content-around col-sm-2 col-2 col-lg-auto">
            <a href="https://www.facebook.com/">
                <img src="/assets/images/facebook1.png" class="facebookImage">
            </a>
            <a href="https://www.instagram.com/">
                <img class="instagramImage" src="/assets/images/instagram.png">
            </a>
        </div>
        <a class="admin text-center  col-lg-auto d-none d-lg-block" href="/adminReservation/index">Administration</a>
    </footer>
{% endblock %}