<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top">
    <a class="navbar-brand" href="../Home/index"><img class="logo" src="/assets/images/logo.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-fill">
            <li class="nav-item link active">
                <a class="nav-link" href="/Home/index"><h4>Accueil</h4><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item link">
                <a class="nav-link" href="#"><h4>Réservation</h4></a>
            </li>
            <li class="nav-item link">
                <a class="nav-link" href="/Category/index"><h4>Nos vélos</h4></a>
            </li>
            <li class="nav-item link">
                <a class="nav-link" href="#"><h4>Qui sommes-nous ?</h4></a>
            </li>
        </ul>
    </div>
</nav>