<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top">
    <a class="navbar-brand" href="/adminReservation/index"><img class="logo" src="/assets/images/logo.png"/></a>
    <div id="navbarNavDropdown">
        <ul class="navbar-nav nav-fill">
            <li class="nav-item link">
                <a class="nav-link" href="/adminReservation/index">Accueil</a>
            </li>
            <li class="nav-item link">
                <a class="nav-link" href="/adminBicycle/index">Vélos</a>
            </li>
            <li class="nav-item link">
                <a class="nav-link" href="/adminCategory/index">Catégories</a>
            </li>
        </ul>
    </div>
</nav>
